.flx{
    display: flex;
    flex-direction: row;
}    
.f1{
    flex: 1;
}
.s2{
    flex: 1;
}
.t3{
    flex: 1;
}
.tm1{
    width: 100%;
    margin-bottom: 0;
}
.vinfo1{
    display: grid;
    grid-template-columns: 38px 1fr;
    column-gap: 15px;

}
.vn1{
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 4px;
}
.channel1{
    font-family: arial;
    color: rgb(58, 56, 56);
    font-size: 15px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 5px;
}
.sts1{
    font-family: arial;
    color: rgb(77, 75, 75);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.channelpic{
    width: 100%;
    border-radius: 30px;
}